node red/flows.json
[{"id":"b1ba13bd.ef351","type":"tab","label":"流程3","disabled":false,"info":""},{"id":"3e64426e.ed663e","type":"mqtt in","z":"b1ba13bd.ef351","name":"出水口","topic":"outlet","qos":"2","datatype":"auto","broker":"9679a974.e924f8","x":300,"y":400,"wires":[["f2f8d4ae.369548"]]},{"id":"9b880306.de103","type":"debug","z":"b1ba13bd.ef351","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":400,"wires":[]},{"id":"f2f8d4ae.369548","type":"json","z":"b1ba13bd.ef351","name":"","property":"payload","action":"","pretty":true,"x":450,"y":400,"wires":[["9b880306.de103","a2207996.ff14f8"]]},{"id":"a2207996.ff14f8","type":"websocket out","z":"b1ba13bd.ef351","name":"","server":"e66a2783.6cb2e8","client":"","x":660,"y":340,"wires":[]},{"id":"298788f3.949388","type":"websocket in","z":"b1ba13bd.ef351","name":"","server":"","client":"ea2bdc8d.2eb2b","x":460,"y":580,"wires":[["35eaf018.b7273"]]},{"id":"74ad3dfe.a06544","type":"debug","z":"b1ba13bd.ef351","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":929,"y":580,"wires":[]},{"id":"bfbb59c5.63c928","type":"mqtt in","z":"b1ba13bd.ef351","name":"进水口","topic":"intake","qos":"2","datatype":"auto","broker":"9679a974.e924f8","x":290,"y":220,"wires":[["6149f279.683c8c"]]},{"id":"e2964653.1df948","type":"debug","z":"b1ba13bd.ef351","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":220,"wires":[]},{"id":"6149f279.683c8c","type":"json","z":"b1ba13bd.ef351","name":"","property":"payload","action":"","pretty":true,"x":440,"y":220,"wires":[["e2964653.1df948","80573807.914478"]]},{"id":"80573807.914478","type":"websocket out","z":"b1ba13bd.ef351","name":"","server":"98e4df1b.59cdc","client":"","x":630,"y":140,"wires":[]},{"id":"56e36770.a4d808","type":"websocket in","z":"b1ba13bd.ef351","name":"","server":"","client":"2fa122bb.ac8fae","x":460,"y":680,"wires":[["1274c69f.afbe19"]]},{"id":"68ff017d.2d6bb","type":"debug","z":"b1ba13bd.ef351","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":930,"y":680,"wires":[]},{"id":"35eaf018.b7273","type":"json","z":"b1ba13bd.ef351","name":"","property":"payload","action":"","pretty":true,"x":770,"y":580,"wires":[["74ad3dfe.a06544","90f16b3f.072be8"]]},{"id":"1274c69f.afbe19","type":"json","z":"b1ba13bd.ef351","name":"","property":"payload","action":"","pretty":true,"x":770,"y":680,"wires":[["68ff017d.2d6bb","90f16b3f.072be8"]]},{"id":"90f16b3f.072be8","type":"cloudant in","z":"b1ba13bd.ef351","name":"Node RED callforcode","cloudant":"","database":"node-red-callforcode-cloudant-1594264638556","service":"node-red-callforcode-cloudant-1594264638556-63046","search":"_id_","design":"","index":"","x":960,"y":640,"wires":[[]]},{"id":"9679a974.e924f8","type":"mqtt-broker","z":"","name":"139","broker":"139.224.25.76","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e66a2783.6cb2e8","type":"websocket-listener","z":"","path":"/ws/outlet","wholemsg":"false"},{"id":"ea2bdc8d.2eb2b","type":"websocket-client","z":"","path":"wss://node-red-callforcode.mybluemix.net/ws/intake","tls":"26d08124.037dce","wholemsg":"false"},{"id":"98e4df1b.59cdc","type":"websocket-listener","z":"","path":"ws/intake","wholemsg":"false"},{"id":"2fa122bb.ac8fae","type":"websocket-client","z":"","path":"wss://node-red-callforcode.mybluemix.net/ws/outlet","tls":"26d08124.037dce","wholemsg":"false"},{"id":"26d08124.037dce","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]